.table-container {
  position: relative;
  width: 100%;
  overflow: auto;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-bottom: 1rem;
}

.table-search {
  position: absolute;
  top: -0.5rem;
  left: 0;
  width: 100%;
  padding: 0.5rem;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  z-index: 1;
}

.table-search input {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  color: #333;
}

.tr {
  transition: transform 0.2s ease, background-color 0.3s ease; /* Add transition for transform and background color */
}

.tr:hover {
  background-color: #f9f9f9; /* Change background color on hover */
  transform: scale(1.02); /* Scale up the row slightly on hover */
}