.university-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.university-template {
  width: 100%;
  max-width: 800px; 
  margin: 20px;
  display: flex;
  flex-direction: column; 
}

.university-image {
  width: 100%;
  max-height: 300px; 
  overflow: hidden;
}

.university-image img {
  width: 100%;
  height: auto; /* Ensure image maintains aspect ratio */
  object-fit: cover;
  transition: transform 0.3s ease; /* Add a smooth transition for the image */
}

.university-image:hover img {
  transform: scale(1.05); /* Zoom in the image on hover */
}

.university-details {
  padding: 20px;
  text-align: center;
}

.university-name {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.detail {
  margin-top: 10px;
}

.label {
  font-size: 18px;
  color: #666;
}

.value {
  font-size: 16px;
  color: #333;
}

.submit-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.submit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #0056b3;
}
