.dashboard-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
    max-width: 100%; 
    font-family: Arial, sans-serif;
  }
  
  .dashboard-header {
    background-color: #1677a0;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .dashboard-main {
    display: flex;
    flex: 1;
    margin-top: 20px;
  }
  
  .tab-nav {
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .tab-nav-button {
    background-color: transparent;
    border: none;
    color: #333;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    outline: none;
  }
  
  .tab-nav-button:hover {
    background-color: #eee;
  }
  
  .active {
    font-weight: bold;
    border-bottom: 2px solid #333;
  }
  
  
  footer {
    background-color: #1677a0;
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  footer p {
    color: #fff;
    margin: 0;
  }
  
  @media (max-width: 768px) {
    .dashboard-main {
      flex-direction: column;
    }
  
    .tab-nav {
      flex-direction: column;
    }
  
    .tab-nav-button {
      padding: 10px 0;
    }
  }

.application-form {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px);
  }
  
  .app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .big-button {
    padding: 15px 30px;
    font-size: 1.5em;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation: bounce 2s infinite;
    transition: transform 0.2s; 
  }
  
  .big-button:hover {
    transform: scale(1.05); 
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
  
  .tab-nav {
    background-color: #f5f5f5;
    display: flex;
    align-items: center; 
    justify-content: center; 
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .tab-nav-button {
    background-color: transparent;
    border: none;
    color: #333;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    outline: none;
  }
  
  .tab-nav-button:hover {
    background-color: #eee;
  }
  
  .active {
    font-weight: bold;
    border-bottom: 2px solid #333;
  }

  .see-applications-table{
    text-align: center;
    width: 100%;
  }
  .responsive-table-container {
    overflow-x: auto;
    display: flex;
    justify-content: center; 
    margin-top: 20px;
  }
  
.responsive-table {
  width: 100%;
  border-collapse: collapse;
}

.responsive-table th, .responsive-table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.responsive-table tbody tr {
  cursor: pointer;
  transition: background-color 0.3s;
}

.responsive-table tbody tr:hover {
  background-color: #f5f5f5;
}
